In [1]:
import numpy as np
import pandas as pd

In [3]:
for year in range(2005,2015): 
    file = r'./data/%d_data.csv' %year
    df = pd.read_csv(file)
    df = df.loc[:,['current_data_year','month_of_death','sex','age_recode_27','education_1989_revision','education_2003_revision','education_reporting_flag','activity_code','race_recode_5']]
    df.to_csv(r'./data/%d_predictors.csv'%year,index=False)

C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (39,40,41,42,43,44,45,46,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (39,40,41,42,43,44,45,46,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67,68) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\peixun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
file = r'./data/2005_predictors.csv'
df_2005 = pd.read_csv(file)
file = r'./data/2006_predictors.csv'
df_2006 = pd.read_csv(file)
file = r'./data/2007_predictors.csv'
df_2007 = pd.read_csv(file)
file = r'./data/2008_predictors.csv'
df_2008 = pd.read_csv(file)
file = r'./data/2009_predictors.csv'
df_2009 = pd.read_csv(file)
file = r'./data/2010_predictors.csv'
df_2010 = pd.read_csv(file)
file = r'./data/2011_predictors.csv'
df_2011 = pd.read_csv(file)
file = r'./data/2012_predictors.csv'
df_2012 = pd.read_csv(file)
file = r'./data/2013_predictors.csv'
df_2013 = pd.read_csv(file)
file = r'./data/2014_predictors.csv'
df_2014 = pd.read_csv(file)

In [6]:
df = pd.concat([df_2005,df_2006,df_2007,df_2008,df_2009,df_2010,df_2011,df_2012,df_2013,df_2014],axis=0,ignore_index=True)

In [7]:
df.head()

,current_data_year,month_of_death,sex,age_recode_27,education_1989_revision,education_2003_revision,education_reporting_flag,activity_code,race_recode_5
0,2005,1,F,15,11.0,NaN,0,NaN,1
1,2005,1,M,18,13.0,NaN,0,NaN,1
2,2005,1,F,21,12.0,NaN,0,NaN,1
3,2005,1,M,16,12.0,NaN,0,NaN,1
4,2005,1,F,19,14.0,NaN,0,NaN,1

In [8]:
df.columns

Index(['current_data_year', 'month_of_death', 'sex', 'age_recode_27',
       'education_1989_revision', 'education_2003_revision',
       'education_reporting_flag', 'activity_code', 'race_recode_5'],
      dtype='object')

In [10]:
df_sex = df['sex']
df_year = df['current_data_year']
df_month = df['month_of_death']
df_age = df['age_recode_27']-5
df_age[df_age<=1]=1

In [11]:
df['education_1989_revision']=df['education_1989_revision'].fillna(value=0)
df['education_2003_revision']=df['education_2003_revision'].fillna(value=0)
from copy import deepcopy
df_edu1 = deepcopy(df['education_1989_revision'])
df_edu2 = deepcopy(df['education_2003_revision'])

In [12]:
#primary or less
df_edu1[df_edu1 <= 8] = 0
#high school
df_edu1[(df_edu1 >= 9) & (df_edu1 <= 12)] = 1
df_edu2[(df_edu2 >= 2) & (df_edu1 <= 3)] = 1
#college or higher
df_edu1[(df_edu1 >= 13) & (df_edu1 <= 17)] = 2
df_edu2[(df_edu2 >= 4) & (df_edu2 <= 8)] = 2
#not stated
df_edu1[df_edu1==99] = 3
df_edu2[df_edu2==9] = 3

In [13]:
df_edu = df_edu1 + df_edu2

In [17]:
df_act=df['activity_code'].fillna(value=10)
df_race = df['race_recode_5']

In [18]:
data_full_version = pd.concat([df_sex,df_year,df_month,df_age,df_edu,df_act,df_race],axis = 1,join_axes=[df_sex.index])
data_full_version.columns = ['sex','current_data_year', 'month_of_death', 'age','education','activity','race']

In [19]:
data_full_version

,sex,current_data_year,month_of_death,age,education,activity,race
0,F,2005,1,10,1.0,10.0,1
1,M,2005,1,13,2.0,10.0,1
2,F,2005,1,16,1.0,10.0,1
3,M,2005,1,11,1.0,10.0,1
4,F,2005,1,14,2.0,10.0,1
5,F,2005,1,18,0.0,10.0,3
6,F,2005,1,14,1.0,10.0,1
7,M,2005,1,13,1.0,10.0,3
8,F,2005,1,15,2.0,10.0,1
9,F,2005,1,18,0.0,10.0,1
10,F,2005,1,19,0.0,10.0,3
11,M,2005,1,16,1.0,10.0,2
12,M,2005,1,16,0.0,10.0,1
13,M,2005,1,10,2.0,10.0,1
14,M,2005,1,16,1.0,10.0,1
15,F,2005,1,12,1.0,10.0,1
16,M,2005,1,16,0.0,9.0,3
17,M,2005,1,8,2.0,9.0,1
18,M,2005,1,13,1.0,10.0,1
19,F,2005,1,19,1.0,10.0,1
20,M,2005,1,17,1.0,10.0,1
21,M,2005,1,7,3.0,9.0,3
22,F,2005,1,13,1.0,10.0,1
23,F,2005,1,17,2.0,10.0,1
24,M,2005,1,16,1.0,10.0,1
25,M,2005,1,10,1.0,10.0,3
26,F,2005,1,14,2.0,10.0,1
27,M,2005,1,16,2.0,10.0,1
28,M,2005,1,16,0.0,10.0,3
29,F,2005,1,19,2.0,10.0,1
...,...,...,...,...,...,...,...
25002445,M,2014,12,14,1.0,9.0,2
25002446,M,2014,12,13,1.0,10.0,1
25002447,M,2014,11,14,1.0,10.0,4
25002448,M,2014,12,12,1.0,10.0,2
25002449,M,2014,7,10,1.0,10.0,2
25002450,M,2014,12,15,1.0,10.0,2
25002451,F,2014,12,1,1.0,10.0,2
25002452,M,2014,12,1,1.0,10.0,2
25002453,F,2014,12,14,1.0,10.0,2
25002454,M,2014,12,14,1.0,10.0,1
25002455,M,2014,11,12,1.0,10.0,2
25002456,M,2014,11,18,1.0,10.0,2
25002457,M,2014,12,12,1.0,10.0,2
25002458,M,2014,12,15,1.0,10.0,2
25002459,M,2014,12,1,1.0,10.0,4
25002460,F,2014,9,1,1.0,10.0,2
25002461,M,2014,12,13,1.0,10.0,2
25002462,F,2014,11,19,1.0,10.0,2
25002463,M,2014,11,18,1.0,10.0,1
25002464,M,2014,12,1,1.0,10.0,2
25002465,M,2014,12,19,1.0,10.0,1
25002466,F,2014,12,18,1.0,10.0,1
25002467,M,2014,11,16,1.0,10.0,1
25002468,M,2014,12,14,1.0,10.0,2
25002469,M,2014,12,11,1.0,10.0,4
25002470,M,2014,12,17,1.0,10.0,1
25002471,F,2014,12,15,1.0,10.0,1
25002472,M,2014,12,1,1.0,10.0,1
25002473,M,2014,2,10,1.0,10.0,2
25002474,M,2014,5,1,1.0,10.0,2

In [20]:
data_full_version.to_csv(r'./data/data_predictors.csv',index=False)